{% extends 'base.html' %}

{% block head %}
{% assets "config_parser_css_bundle" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Configuration Parser</title>
    {% endblock title %}
</head>
{% endblock head %}


        {% block jumbotron_content %}
                <h1 class="display-4">Configuration Parser</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Config Parser</li>
                    </ol>
                </nav>
        {% endblock jumbotron_content %}

{% block content %}




<div>

    <form method="POST" action = "" id="config_parser_data-form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

   <div class="form-group">
       <label>Select a File</label>
      {{ form.inputfile(class="btn btn-outline-info", id="inputfile") }}
  </div>

  <div class="form-group">
      {{ form.cli_command.label(class="form-control-label") }}
      {{ form.cli_command(class="form-control form-control-lg", id="cli_command") }}
  </div>
  <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>


</div>

<div id="device_data_table">

            {{ table|safe }}



</div>


{% endblock content %}

  {% block js %}


<script type="text/javascript">
$(document).ready( function () {
    $('#parsed_config_table').DataTable({
                 dom: 'Bfrtip',
                 buttons: ['csvHtml5']
    }

    );
} );
</script>
  {% endblock js %}


