{% extends 'base.html' %}



{% block content %}

    <body>
    <div class="flex-container">

        <div class="card">
          <div class="card-body">
            <h5 class="card-header">Subnet Calculator</h5>
            <p class="card-text">Just a plain old subnet calculator</p>
            <a href="subnet_calculator" class="btn btn-primary">Subnet Calculator</a>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-header">Batfish Analyzer</h5>
            <p class="card-text">A tool to help you navigate Batfish</p>
            <a href="batfish" class="btn btn-primary">Batfish</a>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-header">Configuration Parser</h5>
            <p class="card-text">For those of you that have clients that live in the dark ages </p>
            <a href="config_parser" class="btn btn-primary">Salvation</a>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-header">MAC to IP</h5>
            <p class="card-text">Got a MAC table? Got a ARP table? Come on in! </p>
            <a href="mac_ip" class="btn btn-primary">Go!</a>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-header">Configuration Templater</h5>
            <p class="card-text">Configuration Templater</p>
            <a href="config_templater" class="btn btn-primary">Config Templater</a>
          </div>
        </div>
        </div>



    </body>



{% endblock content %}

