

button {
    background-color: transparent;
    color: #17A2B8;
    border-color: #17A2B8;
    border: 1px solid transparent;
    border-radius: .25rem;

}
button :hover {
    background-color: #17A2B8;
    color: #FFFFFF;
}
