

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container > div  {
  margin: 10px;
  text-align: center;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2px;
}